<ul class="breadcrumb">
    <li><a href="#/bookmarks/index">Home</a></li>
</ul>
<div class="well">
    <a class="btn btn-block btn-large btn-info" href="#bookmark/new">Create bookmark</a>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>